*, *::before, *::after
{
	box-sizing: border-box;
}

:root
{
	--bar-color: red;
	--width: 0;
}

body::before
{
	content: '';
	display: block;
	height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bar-color);

    /*Here is were magic happen*/

    width: calc(var(--width)*1vw);
}
